* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

:root {
    --rojo: #d03b40;
    --beje: #ded6c0;
    --blanco: #f5f0ed;
    --gris: #241d1b;
    --texto-claro: #f5f0ed;
    --texto-oscuro: #3c3c3b;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: end;

}

.menu ul li {
    display: inline-block;
}

.menu a {
    display: block;
    font-weight: bold;
    color: var(--texto-claro);
    text-decoration: none;
    padding: 1vh 1vw;
}

.menu a:hover {
    box-shadow: 0 0 1em var(--blanco);
}

.logo {
    padding: 1vh 1vw;
}

.header {
    display: flex;
}

#container {
    width: auto;
    height: 70vh;
}


.titulo h1 {
    margin-top: 10vh;
    color: var(--blanco);
    text-align: center;
}

.titulo p {
    display: block;
    margin-top: 5vh;
    color: var(--blanco);
    text-align: center;
    max-width: 100%;


}




#spacio {
    width: auto;
    height: 50vh;
}

.spacio1 {
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;
    padding: 20vh 0;
}

.spacio2 {
    width: 50%;
    float: right;
    height: 100%;
    text-align: center;
    padding: 20vh 0;
}

.spacio1 p,
.spacio2 p {
    padding: 1vh 6vw;
}


#ofertas {
    width: auto;
    height: 60vh;
    text-align: center;

}

.ofertas1 {
    display: block;
    padding: 10vh 0;
}

.ofertas1 p {
    margin-top: 5vh;
    max-width: 50%;
}

.ofertas1 button {
    color: var(--blanco);
    padding: 1vh 1vw;
    background-color: transparent;
    border: 2px solid var(--blanco);
    margin-top: 5vh;
    min-height: 10%;
}

.ofertas1 button:hover {
    box-shadow: 0 0 1em var(--blanco);
}

#productos {
    height: 60vh;
    width: auto;
    padding: 2em;
}

#contacto {
    max-width: auto;
    width: auto;
    height: 50vh;
}

#contacto p {
    max-width: 50%;
}

.contacto1 {
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;
    padding: 15vh 0;
}

.contacto2 {
    width: 50%;
    float: right;
    height: 100%;
    text-align: center;
    padding: 15vh 0;

}

#zocalo {
    width: auto;
    max-height: 10vh;
    min-height: 1vh;
    padding: 2vh 0vw;
    text-align: center;
}







/* fonts */
h1 {
    font-size: 44px;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 28px;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 24px;
    margin-bottom: 0.5em;
}

hr {
    color: var(--blanco);
    width: 5%;
}

p {
    font-size: 16px;
    margin-top: 0.5em;

}

button {
    font-size: 14px;
}

img {
    max-width: 100%;
    display: inline-block;
}



/* estilização das fontes */

.spacio1 h2,
.spacio1 p {
    color: var(--beje);

}

.spacio2 h2,
.spacio2 p {
    color: var(--rojo);
}

#ofertas h1,
#ofertas p {
    color: var(--blanco);
}

#productos img {
    display: inline-block;
    float: left;
    min-height: 10%;
}

.productos1 {
    display: inline-block;
    min-height: 50%;
    width: 50%;
    float: left;
}

.productos2 {
    display: inline-block;
    min-height: 50%;
    width: 50%;
    float: right;
}

#productos h2 {
    display: block;
}

.p1,
.p2,
.p3,
.p4 {
    display: inline-block;
    padding: 2vh 2vw;
    text-align: justify;

}

#productos p {
    display: block;
    text-align: center;
    padding: 1vh 1vw;
    margin-left: 20%;
    text-align: justify;

}

.contacto1 h2,
.contacto1 p {
    color: var(--rojo);
}

.contacto2 h2,
.contacto2 p {
    color: var(--beje);
}

#container p {
    color: var(--blanco);
}

#zocalo p {
    color: var(--beje);
}






/* backgrounds */

#container {
    background: url(../img/Fondo1.jpg);
    background-size: cover;
}

.spacio1 {
    background-color: var(--rojo);
}

.spacio2 {
    background-color: var(--beje);
}

#ofertas {
    background: url(../img/Fondo2.jpg);
    background-size: cover;
}

#productos {
    background-color: var(--blanco);
}

.contacto1 {
    background-color: var(--beje);
}

.contacto2 {
    background-color: var(--rojo);
}

#zocalo {
    background-color: var(--gris);
}


@media screen and (max-width: 600px) {

    .menu a {
        font-size: 12px;
    }

    .titulo h1 {
        margin: 5vh 5vw;
        font-size: 30px;

    }

    .titulo p {
        font-size: 13px;
        max-width: 90%;
        margin: 0 10vw;
    }

    .spacio1,
    .spacio2 {
        padding: 9vh 0;
    }

    .spacio1 h2,
    .spacio2 h2 {
        font-size: 20px;
    }

    .spacio1 p,
    .spacio2 p {
        font-size: 10px;
    }

    .ofertas1 h1 {
        font-size: 30px;
    }

    .ofertas1 p {
        font-size: 12px;
        max-width: 50%;
    }

    .p1,
    .p2,
    .p3,
    .p4 {
        padding: 1vw;
        text-align: center;
    }

    .p1 img,
    .p2 img,
    .p3 img,
    .p4 img {
        display: block;
        max-width: 80%;
    }

    .p1 h2,
    .p2 h2,
    .p3 h2,
    .p4 h2 {
        display: block;
        font-size: 15px;
    }

    .p1 p,
    .p2 p,
    .p3 p,
    .p4 p {
        font-size: 10px;
    }

    #contacto h2 {
        font-size: 20px;

    }

    #contacto p {
        font-size: 10px;
    }
}